body {
  background: #134B70;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 65px;
  color: #EEEEEE;
  font-family: "Encode Sans Expanded", sans-serif;
  letter-spacing: 6.8px;
}
h2 {
  color: #EEEEEE;
  font-size: 30px;
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: bold;
}
.inpbx {
  display: flex;
  justify-content: center;
}
input {
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-family: "Encode Sans Expanded", sans-serif;
  color: #EEEEEE;
  border: none;
  background-color: #201E43;
}
.spisok {
  list-style-type: none;
  padding: 10px;
  font-family: "Encode Sans Expanded", sans-serif;
  color: #EEEEEE;
  font-size: 20px;
  text-transform: uppercase;
}
.btn {
  font-size: 15px;
  font-family: "Encode Sans Expanded", sans-serif;
  border: none;
  background-color: #508C9B;
  color: #201E43;
  font-weight: bold;
}
.crossed {
  text-decoration: line-through 2px #201E43;
}
.add {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.delete-item{
  border-radius: 20px;
  margin-left: 150px;
}
.item-background {
  background-color: #508C9B;
  border-radius: 10px;
  margin: 10px;
}
@media all and (max-width: 1000px) {
  h1 {
    font-size: 35px;
    color: #EEEEEE;
    font-family: "Encode Sans Expanded", sans-serif;
    letter-spacing: 2.8px;
  }
  h2 {
    color: #EEEEEE;
    font-size: 15px;
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: bold;
  }
}